*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
div{
  text-align: center;
}

.span_1{
  margin-right: 800px;
  font-size: 30px;
  
}

.span{
  margin-left: 30px;
  font-size: 30x;
  font-weight: bold;
}

header{
  padding: 20px;
}

/* main{
  vertical-align: top;
} */
section {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-left: 10px;
  vertical-align: top;
}


img{
  width: 100%;
}

h1{
font-size: 28px;
font-family: "roboto";
font-weight: bold;
color: black;
text-align: start;
margin-top: 10px;
}

.about{
font-size: 20px;
color: #dcdedc;
font-weight: bold;
text-align-last: start;
margin-top: 8px;

}

p{
  font-size: 15px;
  text-align: justify;
  text-align-last: start;
  margin-top: 8px;
  
  
}

button{
  
  color: black;
  width: 100%;
  text-align: center;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}